# Node.js
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Build outputs
dist/
build/

# Dependency directories
jspm_packages/

# Coverage directories created by tools like istanbul
coverage/

# Others
.DS_Store
Thumbs.db
